name: Publish to Hex

on:
  pull_request:
    branches:
      - main
    types:
      - closed

jobs:
  publish:
    if: ${{ github.event.pull_request.merged == true }}
    name: Publish to Hex
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout this repository
        uses: actions/checkout@v6

      - name: Install Erlang and Elixir
        uses: erlef/setup-beam@v1
        with:
          otp-version: "28.1"
          elixir-version: "1.19"

      - name: Fetch and compile dependencies
        run: mix do deps.get + deps.compile

      - name: Publish to Hex
        run: mix hex.publish --yes
        env:
          HEX_API_KEY: ${{ secrets.HEX_API_KEY }}
